
.gallery-container{
   position: absolute;
   display: inline-flex;
   width: 100%;
   top: 35%;
   justify-content: space-evenly;
   justify-content: center;
   flex-wrap: wrap;

}


.gallery-container h2 {
    position: absolute;
    display: inline-block; 
    top: -20%;
}


div.gallery {
    border: 1px solid rgb(24, 19, 19);
    width: 180px;
    display: inline-block;
    margin: 1%;

  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }